<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-8">
            <h2>Welcome! Login below!</h2>
            <br>
            <form id="login-form">
                <div class="mb-3">
                    <label for="login-email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="login-email" placeholder="email@email.com">
                </div>
                <div class="mb-3">
                    <label for="login-password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="login-password" placeholder="Case-Sensitve Password">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary mb-3">Login</button>
                </div>
            </form>
            <br><br>
            <div>
                Don't have an account?<br> 
                Create one now to write a post and keep up to date with The Tech Blog!<br>
                <br>
                <a href="/signup" class="btn btn-primary mb-3">Sign up!</a>
            </div>

        </div>
    <div class="col-sm-2"></div>
</div>

<script src="/javascript/login.js"></script>