<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-8">
            <h2>Welcome to The Tech Blog! <br> Sign up below to get started!</h2>
            <br>
            <form id="signup-form">
                <div class="mb-3">
                    <label for="signup-email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="signup-email" placeholder="email@email.com">
                </div>
                <div class="mb-3">
                    <label for="signup-username" class="form-label">Username:</label>
                    <input type="text" class="form-control" id="signup-username" placeholder="email@email.com">
                </div>
                <div class="mb-3">
                    <label for="signup-password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="signup-password" placeholder="Case-Sensitve Password">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary mb-3">Signup!</button>
                </div>
            </form>
            <br><br>
            <div>
                Already have an account? <br>
                <a href="/login" class="btn btn-primary mb-3">Login</a>
            </div>

        </div>
    <div class="col-sm-2"></div>
</div>

<script src="/javascript/signup.js"></script>